<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240344592948-v8fa0u7r8joplqbh9p1ter1bginnqe9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240344592948-v8fa0u7r8joplqbh9p1ter1bginnqe9v</string>
	<key>API_KEY</key>
	<string>AIzaSyBGLK48vgUucBqZKmWacSm1wXY13FoX2bw</string>
	<key>GCM_SENDER_ID</key>
	<string>240344592948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosDeveloper.typing-speed-test</string>
	<key>PROJECT_ID</key>
	<string>ios-typing-speed-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-typing-speed-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240344592948:ios:2b29a2407244412bfc5061</string>
</dict>
</plist>